<footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
          <span class="text-muted">Copyright © 2019 <a class="text-green" href="https://www.bootstrapdash.com/" target="_blank">Guardian</a>. Todos los derechos reservados.</span>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex justify-content-end">
          <span class="mt-0 text-right">Analia faure <i class="mdi mdi-heart text-red"></i></span>
        </div>
      </div>
    </div>
  </footer>