<header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a href="/index"><img src="images/Logo_guardian.svg" style="width: 150px; padding-left: 30px;"/></a>
          
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <div class="mdc-menu-anchor">
            <p style="color:white;">Hola  <%= username %>  </p>
            </a>
          </div>
          <div class="mdc-menu-anchor">
            <a href="/contact"  class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" data-mdc-auto-init="MDCRipple">
              <i class="material-icons">assignment_ind</i>
            </a>
          </div>
          <div class="mdc-menu-anchor">
           <div class="mdc-menu-anchor mr-1">
            <a href="#" class="mdc-toolbar__icon toggle mdc-ripple-surface" data-toggle="dropdown" toggle-dropdown="logout-menu" data-mdc-auto-init="MDCRipple">
             <i class="material-icons">face</i>
            </a>
            
            <div class="mdc-simple-menu mdc-simple-menu--right" tabindex="-1" id="logout-menu">
              
                <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    <a href="/perfil">
                      <i class="material-icons mdc-theme--primary mr-1">settings</i>
                      Perfil
                    </a>
                  </li>
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                     
                      <a href="/logout">
                        <i class="material-icons mdc-theme--primary mr-1">power_settings_new</i>
                        Cerrar sesion
                      </a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
         
        </section>
      </div>
    </header>
    <script src="/jquery.min.js"></script>
    <script src="/material-components-web.min.js"></script>
    <script src="/chart.min.js"></script>
    <script src="/progressbar.min.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/material.js"></script>