<style>
        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            display:none;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: auto;
        }
        .modalDialog > div {
            width: 50%;
            
            position: relative;
            margin: 2% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #fff);
            background: -webkit-linear-gradient(#fff, #fff);
            background: -o-linear-gradient(#fff, #fff);
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }
        .close:hover { background: #ff0000; }
        </style>
        <html>
                <body >
                  <div id="openCheckContact" class="modalDialog">
                    <div>
                      <a href="#close" title="Close" class="close" onclick="javascript:checkContactClose();">X</a>
                      <form action="" method="POST" class="form-checkContact login100-form validate-form">
                        <section class="mdc-card__supporting-text">
                           Ingrese codigo a verificar
                                <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                                         <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                                             <span class="label-input100"></span>
                                             <input class="input100" type="hidden" id="nroId" name="nroId" >
                                             <input class="input100" type="hidden" id="nroCode" name="nroCode" >
                                             <input class="input100" type="text" id="nroCodeCheck" name="nroCodeCheck" placeholder="Codigo">
                                             <span class="focus-input100"></span>
                                         </div>
                                        </div> 
                                      </div>
                                   
                                 <div class="container-login100-form-btn">
                                     <button class="mdc-button mdc-button--raised w-100" data-mdc-auto-init="MDCRipple">
                                       Aceptar
                                   </button>
                                 </div>
                     </section>
                 </form>
                    </div>
                  </div>
                </body>
              </html>
              <script src="/js/login.js"></script>