<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registrarme</title>
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
  <body>
    
    <div class="body-wrapper">
      <% include partials/_navbar.html %>
        <div class="page-wrapper mdc-toolbar-fixed-adjust">
            
            <main class="content-wrapper">
               
              <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                   
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10">
                    <div class="mdc-card">
                            
                      <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large">Contactos</h1>
                      </section>
                      <section class="mdc-card__supporting-text">
                        <div class="template-demo">
                            <% if (data.length >= 5){%>
                            <button disabled class="mdc-button mdc-button--unelevated mdc-button--dense" data-mdc-auto-init="MDCRipple">
                                Nuevo contacto 
                            </button>
                          <% }else{ %>
                          <button onclick="newContact()" class="mdc-button mdc-button--unelevated mdc-button--dense" data-mdc-auto-init="MDCRipple">
                            Nuevo contacto 
                          </button>
                          <% } %>
                        </div>
                      </section>
                      
                      <% if (data.length===0){%>
                        <p>No se han registrado contactos.</p>
                        <% }else{ %>
                      <table class="table"  id="lala" >
                        <thead>
                          <tr>
                            <td class="text-left">Verificado</td>
                            <td class="text-left">Nombre</td>
                            <td class="text-left">Celular</td>
                            <td class="text-left">Llave</td>
                            <td class="text-left">Clave</td>
                            <td class="text-left">Accion</td>
                          </tr>
                        </thead>
                        <tbody id="sortable">
                          <% data.forEach((s,i)=>{%>
                            <tr class="ui-state-default">
                              <% (i+1) %>
                              <% if (s.verificado === true){%>
                                <td style="text-align:initial"> <i class="material-icons" style="color:green">check_circle</i></td>
                                <% }else{ %>
                                  <div id="aviso" class="aviso">
                                      <div class="preloader-wrapper active" style="margin-top: 300px;">
                                         <h4> Tiene contactos para ser verificados </h4>
                                      </div>
                                   </div>
                              <td style="text-align:initial"><button title="Verifique su contacto" onclick="checkContact()" id="checkContact" name="<%= s._id %>"><i class="material-icons" style="color:red">error</i></button></td>
                              <% } %>
                              
                              <th class="num text-left" name="nombre"><%= s.nombre %></th>
                              
                              <td class="text-left"> <%= s.celular %></td>
                              <% if (s.llave === true){%>
                                <td class="text-left"> SI</td>
                                <% }else{ %>
                              <td class="text-left" > NO</td>
                              <% } %>
                              <td class="text-left"> <%= s.palabraClave %></td>
                              
                              <td class="text-left">
                                <button onclick="showModal('<%= s._id %>')"><i class="material-icons">edit</i> </button>
                                <button onclick="showModalDelete('<%= s._id %>')"><i class="material-icons">delete</i> </button>
                              </td>
      
                               
                            </tr>
                            <% }) %>
                            </tbody>
                          <% } %>
                        </table>
                        <section class="mdc-card__supporting-text">
                            <div class="template-demo">
                          <button onclick="guardanOrden()" class="mdc-button mdc-button--unelevated mdc-button--dense" data-mdc-auto-init="MDCRipple">
                            Guardar orden
                          </button>
                        </div>
                        </section>       
                    </div>
                  </div>
                </div>
                
             
            </main>
            
                </div>
          </div> 
            <!-- partial -->
          </div>
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script src="/js/login.js"></script>
          
      <% include checkContact.ejs %>
      <% include newContact.ejs %>  
      <% include modalContact.ejs %>
      <% include modalDelete.ejs %>  
      <% include partials/_footer.html %>
        </body>
        
                        
        