<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registrarme</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div id="modalEspera">
      <div class="preloader-wrapper active" style="margin-top: 300px;">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
  </div>
  <div class="body-wrapper">
    <% include partials/_navbar.html %>
     <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
          <% if (saldo===0){%>
            <div class="mdc-card" style="
          width: 1150px;
          height: 68.156;
          margin-left: 23px;
          background-color: #4be057;
      ">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                  <section class="purchase__card_section" style="padding:14px;">
                    <p style="
                    font-size: small;
                    color: green;
                    
                ">NO presenta deudas!</p>
                  </section>
                </div>
                
              </div>
            </div>
            <% }else{ %>
              <div class="mdc-card" style="
              width: 1133px;
              height: 68.156;
              margin-left: 23px;
              background-color: #f8f87f;
          ">
                  <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                      <section class="purchase__card_section" style="padding:14px;">
                        <p style="
                        font-size: small;
                        color: red;
                    "><i class="material-icons">error</i>Al dia de la fecha Ud. presenta deudas!</p>
                      </section>
                    </div>
                    
                  </div>
                </div>
          <% } %>
          
        <div class="mdc-layout-grid">
          <div  class="mdc-layout-grid__inner">
              
             <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                   <div class="mdc-card">
                     <section class="mdc-card__primary">
                      <p class="font-weight-normal mb-0 mt-0" style="font-size: 20px; color: #707070;">Total a pagar</p>
                      <h1 class="mdc-typography--display1 " style="font-size: 65px; color: #B71C1C; text-align: center">$<%= saldo %></h1>
                     </section>
                    </div>
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                  
                </div>
              </div>
                <div disabled="disabled" class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                  <div class="mdc-card d-flex flex-column">
                      <!--<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex align-item-center flex-row" style="margin-left: 15%;
                      margin-top: 5%;
                  ">
                        <i class="material-icons" style="font-size: 90px; color: #B71C1C;">payment</i>
                        <p class="text-center mt-2 mb-2" style="font-size: 30px; color: #707070;text-align: justify;
                        margin-left: 10px;">Adherirme a <br> debito automatico
                        </p>
                        <a href="/newDebito" class="txt1">
                          <i class="material-icons" style="font-size: 80px; color: #707070;">play_arrow</i>
                        </a>  
                      </div>-->
                      
                  <div class="mdc-layout-grid__inner">
                    
                    </div>
                  </div>
                </div>  
              </div>
            </div>
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                 <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                    <div class="mdc-card">
                      <h1 class="mdc-card__title mdc-card__title--large">Facturas</h1>
                  
                <% if (data.data.length===0){%>
                  <p>No se han registrados aun los Facturas.</p>
                  <% }else{ %>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-left">Vencimiento</th>
                      <th>Estado</th>
                      <th>Archivo</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <% data.data.forEach((s,i)=>{%>
                      <% if (i < 4){%>
                        
                      <tr>
                        <% (i+1) %>
                        <% var a = s.Vencimiento.substring(0,10) %>
                        <td class="text-left"><%= a %></td>
                        <% if (s.Saldo===0){%>
                          <td> paga</td>
                          <% }else{ %>
                        <td > Impaga</td>
                        <% } %>

                        <td>
                          <div id="getPdf" class="col mdc-button" data-mdc-auto-init="MDCRipple">
                          <i class="material-icons" onclick="getPdf('<%=s.Operacion%>')" id="factura">file_download</i>
                          </div>
                        </td>
 
                      </tr>
                      <% }
                      }) %>
                      </tbody>
                    <% } %>
                  </table>
                </div>
              </div>
              <div  class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                  <div class="mdc-card d-flex flex-column">
                      <div class="mdc-card">
                          <h1 class="mdc-card__title mdc-card__title--large">Preguntas frecuentes</h1>
                      <!--<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex align-item-center flex-row" style="margin-left: 15%;
                      margin-top: 5%;
                  ">
                        <i class="material-icons" style="font-size: 90px; color: #B71C1C;">payment</i>
                        <p class="text-center mt-2 mb-2" style="font-size: 30px; color: #707070;text-align: justify;
                        margin-left: 10px;">Adherirme a <br> debito automatico
                        </p>
                        <a href="/newDebito" class="txt1">
                          <i class="material-icons" style="font-size: 80px; color: #707070;">play_arrow</i>
                        </a>  
                      </div>-->
                      
                  <div class="mdc-layout-grid__inner">
                    
                    </div>
                  </div>
                </div> 
            </div>
          </div>
         
      </main>
    </div>
   
    <script src="js/codeSecurity.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
</body>
