<!DOCTYPE html>
<html lang="en">
<head>
	<title>Guardian web</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" >
					<img src="images/Logo_guardian.svg" />
				</div>

				<% if(error){ %>
					<div class="mdc-card" style="
						width: 60%;
						margin-left: 25%;
						background-color: #eee;
						margin-top: 10%;
					">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-11">
                  <section class="purchase__card_section" style="margin-left: 30%;">
						<p style="font-size: medium;color: red;"><%= error %></i></p>
                  </section>
                </div>
                
              </div>
			</div>
			<% } %>
					
				<form action="<%= urlBase %>/auth" method="POST" class="form-auth login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Requiere nombre de usuario">
						<span class="label-input100">Usuario</span>
						<input class="input100" type="text" id="username" name="username" placeholder="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Requiere una contraseña">
						<span class="label-input100">Contraseña</span>
						<input class="input100" type="password" id="pass" name="pass" placeholder="">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div>
							<!--<a href="#" class="txt1">
								Olvide mi contraseña
							</a>-->
						</div>

						<div>
							<a href="register" class="txt1">
								Registrarme
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="mdc-button mdc-button--raised w-100">
							Entrar
						</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
    
</body>
</html>