<style>
    .modalDialog2 {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        display:none;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: auto;
    }
    .modalDialog2 > div {
        width: 25%;
        
        position: relative;
        margin: 2% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #fff);
        background: -webkit-linear-gradient(#fff, #fff);
        background: -o-linear-gradient(#fff, #fff);
      -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    }
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: #ff0000; }
    </style>
    <html>
            <body >
              <div id="openModalDelete" class="modalDialog2">
                <div>
                    <section class="mdc-card__supporting-text">
                      <p>Esta seguro que quiere eliminar?</p> 
                      <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                          <input class="input100" type="hidden" id="id" name="id" >
                        </div>
                      
                     </div>
                     <div class="container-login100-form-btn" style="margin-top: 20px;">
                        <button onclick="deleteContact()" class="mdc-button mdc-button--unelevated mdc-button--dense" data-mdc-auto-init="MDCRipple" style="right: 10px;left: 10px">
                            Aceptar 
                        </button>
                        <button onclick="CloseModalDelete()" class="mdc-button mdc-button--unelevated mdc-button--dense" data-mdc-auto-init="MDCRipple" style="right: 10px;left: 40px">
                            Cancelar 
                        </button>
                        
                    </div>
                    </section>
             
                </div>
              </div>
            </body>
          </html>
           