<style>
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display:none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modalDialog > div {
	width: 50%;
	
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #fff);
	background: -webkit-linear-gradient(#fff, #fff);
	background: -o-linear-gradient(#fff, #fff);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #ff0000; }
</style>
<html>
<body >
	<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close" onclick="javascript:CloseModal();">X</a>
        <form action="/updateContact" method="POST" class="form-updateContact login100-form validate-form">
			<section class="mdc-card__supporting-text">
			<div class="mdc-layout-grid__inner">
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
					<div class="wrap-input100 validate-input m-b-10" data-validate="Complete el campo">
					<input class="input100" type="hidden" id="id" name="id" >
					<input class="input100" type="hidden" id="orden" name="orden" >
					<input class="input100" type="hidden" id="vigencia" name="vigencia" >
					<span class="label-input100"></span>
					<label>Nombre</label>
					<input class="input100" type="text" id="nombre" name="nombre" >
					<span class="focus-input100"></span>
				</div>
			</div>
	</div>
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
			<div class="wrap-input100 validate-input m-b-10" data-validate="Complete el campo">
				<span class="label-input100"></span>
				<label>Llave</label>
				<input class="input100" type="text" id="llave" name="llave" >
				<span class="focus-input100"></span>
			</div>
		</div> 
	</div>
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
			<div class="wrap-input100 validate-input m-b-10" data-validate="Complete el campo">
				<span class="label-input100"></span>
				<label>Celular</label>
				<input class="input100" type="number" id="celular" name="celular" >
				<span class="focus-input100"></span>
			</div>
		</div>
	</div>
	<div class="mdc-layout-grid__inner">
		<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
			<div class="wrap-input100 validate-input m-b-10" data-validate="Complete el campo">
				<span class="label-input100"></span>
				<label>Clave</label>
				<input class="input100" type="text" id="palabraClave" name="palabraClave" >
				<span class="focus-input100"></span>
			</div>
		</div>
	</div>
	<div class="container-login100-form-btn">
		<button class="mdc-button mdc-button--raised w-100" data-mdc-auto-init="MDCRipple">
			Guardar
		</button>
	 </div>
  </section>
  </form>
</div>
</div>
</body>
</html>
       