<!DOCTYPE html>
<html lang="en">
<head>
	<title>Guardian web</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
<!--===============================================================================================-->
</head>
<body>
       <div class="body-wrapper">
          
        <% include partials/_navbar.html %>
          <!-- partial -->
          <div class="page-wrapper mdc-toolbar-fixed-adjust">
            <main class="content-wrapper">
               
              <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                   
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
                    <div class="mdc-card">
                      <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Datos de la tarjeta</h1>
                      </section>
                      
                      <div class="generator-code">
                      
                <section class="mdc-card__supporting-text">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <div class="mdc-card">
                      <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Checkbox</h1>
                      </section>
                      <section class="mdc-card__supporting-text">
                        <div class="template-demo">
                          <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                              <input type="checkbox" id="basic-checkbox1" name="s[]" class="mdc-checkbox__native-control" value="CBU"/>
                              <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                  <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                              </div>
                            </div>
                            <label for="basic-checkbox">CBU</label>
                          </div>
                          <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                              <input type="checkbox" id="basic-checkbox2" name="s[]" class="mdc-checkbox__native-control" value="Visa" />
                              <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                  <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                              </div>
                            </div>
                            <label for="basic-checkbox">VISA</label>
                          </div>
                          <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                              <input type="checkbox" id="basic-checkbox3" name="s[]" class="mdc-checkbox__native-control" value="MasterCard"/>
                              <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                  <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                              </div>
                            </div>
                            <label for="basic-checkbox">MasterCard</label>
                          </div>
                          <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                              <input type="checkbox" id="basic-checkbox4" name="s[]" class="mdc-checkbox__native-control" value="Naranja" />
                              <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                  <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                              </div>
                            </div>
                            <label for="basic-checkbox">Naranja</label>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                  <br>
                  
                  <div class="mdc-layout-grid__inner" id="is" style="display:none;">
                      <form action="/addDebito" method="POST" class="form-debitoCbu login100-form validate-form">
                      <input type="hidden" name="tipo" id="tipo">
                      
                          <div id="tf-box-example" class="mdc-text-field mdc-text-field--box w-100">
                            <input required pattern="[0-9]{22}" type="text" id="numero" name="numero" class="mdc-text-field__input" title="Complete la cantidad de números requeridos" >
                            <label for="tf-box"  class="mdc-text-field__label">N° CBU</label>
                            <div class="mdc-text-field__bottom-line"></div>
                          </div>
                      
                      <div class="container-login100-form-btn">
                        <button type="submit" class="mdc-button mdc-button--raised w-100">
                          Entrar
                        </button>
                      </div>
                      </form>
                  </div>
                  <div class="mdc-layout-grid__inner" id="ic" style="display:none;">
                      <form action="/addDebito" method="POST" class="form-debitoTarjeta login100-form validate-form">
                       <input type="hidden" name="tipo" id="tipo">
                       
                          <div id="tf-box-example2" class="mdc-text-field mdc-text-field--box w-100">
                            <input required pattern="[0-9]{16}" type="text" id="numero" name="numero" class="mdc-text-field__input"  title="Complete la cantidad de números requeridos">
                            <label for="tf-box" class="mdc-text-field__label">N° Tarjeta</label>
                            <div class="mdc-text-field__bottom-line"></div>
                          </div>
                        
                      <div class="container-login100-form-btn">
                        <button type="submit" class="mdc-button mdc-button--raised w-100">
                          Entrar
                        </button>
                      </div>
                    </form>
                  </div>
                </section>
              
              </div>
              </div>
              </div>
             </div>
           </div>
          </main>
          
            <!-- partial -->
          </div>
        </div>
        <script>
          var baseURL = '<%= urlBase %>'
                  
        </script>
         <script src="js/codeSecurity.js"></script>
      
      <% include partials/_footer.html %>
      <!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
    <script src="js/main.js"></script>
      </body>
    </html>
  