<html lang="en">
<head>
	<title>Guardian web</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
      
      <body>
        <div class="body-wrapper">
            <% include partials/_navbar.html %>
          
          <div class="page-wrapper mdc-toolbar-fixed-adjust">
            <main class="content-wrapper">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
                        <div class="mdc-card">
                         <section class="mdc-card__primary">
                           <h1 class="mdc-card__title mdc-card__title--large">Datos de la cuenta</h1>
                         </section>
                        <div class="generator-code">
                         <section class="mdc-card__supporting-text">
                          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                         <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <h1 class="mdc-card__title mdc-card__title--large">Cliente</h1>
                            </section>
                        <section class="mdc-card__supporting-text">
                            <% data.data.forEach((s,i)=>{%>
                                <% (i+1) %>
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%= s.DNI%></p> 
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%=s.RazonSocial%></p> 
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%=s.Telefono%></p>
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%=s.DomicilioFiscal%></p>
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%=s.LocalidadFiscal%></p>
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%=s.CondicionIVA%></p>
                                <p style="color: #707070;" class="font-weight-normal mb-0 mt-0"><%=s.DebAut%></p>
                            <% }) %>
                            <hr>
                              <button id="buttonPass" type="submit" class="mdc-button mdc-button--raised w-100">
                                Cambiar contraseña
                              </button>
                            
                        </section>
                        <div class="mdc-layout-grid__inner" id="pass" style="display:none;">
                          <form action="" method="POST" class="form-updatePass login100-form validate-form">
                               <div id="tf-box-example" class="mdc-text-field mdc-text-field--box w-100">
                                <input required pattern="" type="text" id="passAnterior" name="passAnterior" class="mdc-text-field__input" title="Complete la cantidad de números requeridos" >
                                <label for="tf-box"  class="mdc-text-field__label">clave anterior</label>
                                <div class="mdc-text-field__bottom-line"></div>
                              </div><div id="tf-box-example2" class="mdc-text-field mdc-text-field--box w-100">
                                <input required pattern=".{2,}" type="text" id="passNueva" name="passNueva" class="mdc-text-field__input" title="Complete la cantidad de números requeridos" >
                                <label for="tf-box"  class="mdc-text-field__label">clave nueva</label>
                                <div class="mdc-text-field__bottom-line"></div>
                              </div>
                              <div id="tf-box-example3" class="mdc-text-field mdc-text-field--box w-100">
                                <input required pattern=".{2,}" type="text" id="passNuevaVerif" name="passNuevaVerif" class="mdc-text-field__input" title="Complete la cantidad de números requeridos" >
                                <label for="tf-box"  class="mdc-text-field__label">Confirme clave</label>
                                <div class="mdc-text-field__bottom-line"></div>
                              </div>
                          <div class="container-login100-form-btn">
                            <button type="submit" class="mdc-button mdc-button--raised w-100">
                             Guardar
                            </button>
                          </div>
                          </form>
                      </div>
                     </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                
            </main>
          </div>
         
          <script src="js/codeSecurity.js"></script>
          <script src="js/main.js"></script>
        <!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
      </body>
      