<head>
    
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registrarme</title>
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
 <div class="body-wrapper">
    
    <header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
          <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
              <a href="/"><img src="images/Logo_guardian.svg" style="width: 150px; padding-left: 30px;"/></a>
              
            </section>
      </div>
    </header>
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
         
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
             
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10">
              <div class="mdc-card">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">Registrarme</h1>
                </section>
                
                <div class="generator-code"> 
                 
                <div class="emptyField">
                    <div class="mdc-card" style="
                        width: 60%;
                        margin-left: 22%;
                        background-color: #eee;
                       
                      ">
                          <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-11">
                              <section class="purchase__card_section" style="margin-left: 30%;">
                        <p style="font-size: medium;color: red;">Debe completar todos los campos.</i></p>
                              </section>
                            </div>
                            
                          </div>
                  </div>
                </div>
                
                 <form action="" method="POST" class=" form-generate login100-form validate-form">
                   <section class="mdc-card__supporting-text">
                      <section class="mdc-card__primary">
                          <h1 class="mdc-card__title mdc-card__title--large">Paso 1</h1>
                      </section>
                     <div class="mdc-layout-grid__inner">
                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="text" id="nroCliente" name="nroCliente" placeholder="N° Cliente">
                            <span class="focus-input100"></span>
                        </div>
                       </div>
                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="number" id="dni" name="dni" placeholder="Nº D.N.I / CUIT">
                            <span class="focus-input100"></span>
                        </div>
                       </div>
                       
                      </div>
                       <div class="mdc-layout-grid__inner">
                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="text" id="email" name="email" placeholder="Correo electronico">
                            <span class="focus-input100"></span>
                        </div>
                       </div> 
                     </div>
                     <div class="mdc-layout-grid__inner">
                       <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100"></span>
                            <input class="input100" type="number" id="telefono" name="telefono" placeholder="Nº telefono">
                            <span class="focus-input100"></span>
                        </div>
                       </div>
                      
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="mdc-button mdc-button--raised w-100" data-mdc-auto-init="MDCRipple">
                          Solicitar codigo de seguridad
                      </button>
                    </div>
                </section>
            </form>
            <form action="/checkCode" method="POST" class=" form-code login100-form validate-form">
                <section class="mdc-card__supporting-text">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Paso 2</h1>
                    </section>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop">
                         <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                             <span class="label-input100"></span>
                             <input class="input100" type="hidden" id="nroCuenta" name="nroCuenta" >
                             <input class="input100" type="hidden" id="nroCodeReal" name="nroCodeReal" >
                             <input class="input100" type="text" id="nroCode" name="nroCode" placeholder="Codigo">
                             <span class="focus-input100"></span>
                         </div>
                        </div> 
                      </div>
                   
                 <div class="container-login100-form-btn">
                     <button class="mdc-button mdc-button--raised w-100" data-mdc-auto-init="MDCRipple">
                       Aceptar
                   </button>
                 </div>
             </section>
         </form>
         <form action="" method="POST" class=" form-user login100-form validate-form">
          <section class="mdc-card__supporting-text">
             <section class="mdc-card__primary">
                 <h1 class="mdc-card__title mdc-card__title--large">Paso 3</h1>
             </section>
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop">
               <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                   <span class="label-input100"></span>
                   <input class="input100" type="hidden" id="email" name="email" >
                   <input class="input100" type="hidden" id="nroCuenta" name="nroCuenta" >
                   <input class="input100" type="text" id="user" name="user" placeholder="Nombre de usuario">
                   <span class="focus-input100"></span>
               </div>
              </div>
             </div>
             <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop">
               <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                   <span class="label-input100"></span>
                   <input class="input100" type="password" id="clave" name="clave" placeholder="Contraseña">
                   <span class="focus-input100"></span>
               </div>
              </div>
              
             </div>
              <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop">
               <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                   <span class="label-input100"></span>
                   <input class="input100" type="password" id="claveVerif" name="claveVerif" placeholder="Confirme contraseña">
                   <span class="focus-input100"></span>
               </div>
              </div> 
            </div>
            
           <div class="container-login100-form-btn">
               <button class="mdc-button mdc-button--raised w-100" data-mdc-auto-init="MDCRipple">
                 Aceptar
             </button>
           </div>
          </section>
        </form>
        
           
          </div>
              </div>
            </div>
          </div>
          </div>
       
      </main>
    
      <!-- partial -->
    </div>
  </div>
  <script>
    var baseURL = '<%= urlBase %>'
  </script>
  <script src="/jquery.min.js"></script>
  <script src="/js/codeSecurity.js"></script>
  

<% include partials/_footer.html %>
           
